*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(240, 233, 233);
}
header{
    background-color: white;
}
 h1{
    display: inline-block;
}

.container-intestazione{
    height: 70px;
}
.intestazione{
    vertical-align: middle;
    line-height: 70px;
}
img.intestazione{
    margin-left: 20px;
}

main{
    margin-top: 50px;
}
.parte-centrale-alta,.parte-centrale{
    width: 75%;
    background-color: white;
    margin: auto;
    padding: 15px 0 10px 30px;
}

.parte-centrale-alta{
    border-radius: 5px 5px 0 0;
}
.parte-centrale-alta button{
    border-radius: 4px;
    padding: 7px;
    font-size: 11px;
}
#add-task{
    color: white;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

#add-section{
    color: gray;
    background-color: #f6f8f9f1;
    border: 1px solid gray;
}
.parte-centrale{
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 0 0 5px 5px;
}

li:first-child{
    margin-top: 5px;
}
ul{
    margin: 7px 0;
}
li{
    margin: 15px 0;
    list-style-type: none;
}

.selection::before {
    font-size: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    font-weight: bold;
}

.selection.checked::before {
    border: 1px solid green;
    color: green;
    content: '\2714';
}

.selection.unchecked::before {
    border: 1px solid red;
    color: red;
    content: '\2718';
}

.button::after{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 9px;
    background-color: #47adf1;
    padding: 5px 10px;
    margin-left: 3px;
   
}

.editorial::after{
    content: 'Editorial';
}

#goals::after{
    content: 'Q1Goals';
    background-color: #9c72e4;
}

#recruiting::after{
    content: 'Recruiting';
    background-color: #72c7b2;
}

#mobile::after{
    content: 'Mobile';
    background-color: #f29e33;
}

#website::after{
    content: 'Website';
    background-color: #d863a1;
}

#sales::after{
    content: 'Sales';
    background-color: #b0c926;
}