*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(240, 233, 233);
}
header{
    background-color: white;
}
 h1{
    display: inline-block;
}

.container-intestazione{
    height: 70px;
}
.intestazione{
    vertical-align: middle;
    line-height: 70px;
}
img.intestazione{
    margin-left: 20px;
}

main{
    margin-top: 50px;
}
.parte-centrale-alta,.parte-centrale{
    width: 75%;
    background-color: white;
    margin: auto;
    padding: 15px 0 10px 30px;
}

.parte-centrale-alta{
    border-radius: 4px 4px 0 0;
}

#add-task{
    color: white;
    background-color: #47adf1;
    border-radius: 4px;
    padding: 7px;
    border: none;
    font-size: 11px;
}
#add-section{
    color: gray;
    background-color: #f6f8f9f1;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid gray;
    font-size: 11px;
}
.parte-centrale{
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 0 0 4px 4px;
}

li:first-child{
    margin-top: 5px;
}
ul{
    margin: 7px 0;
}
li{
    margin: 15px 0;
    list-style-type: none;
}
.button{
    color: white;
    font-size: 10px;
    border-radius: 9px;
    background-color: #47adf1;
    padding: 5px 10px;
    text-align: center;
}
#goals{
    background-color: #9c72e4;
}

#recruiting{
    background-color: #72c7b2;
}

#mobile{
    background-color: #f29e33;
}

#website{
    background-color: #d863a1;
}

#sales{
    background-color: #b0c926;
}
.selection{
    font-size: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    margin-right: 5px;
    font-weight: bold;
}
.selection.checked{
    border: 1px solid green;
    color: green;
}
.selection.unchecked {
    border: 1px solid red;
    color: red;
}