*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
body{
    background-color: lightgrey;
}
header{
    background-color: white;
}
/* h1{
    display: inline-block;
}
.container-intestazione{
    height: 80px;
    line-height: 80px;
}
.intestazione{
} */
main{
    margin-top: 50px;
}
.parte-centrale-alta,.parte-centrale{
    width: 75%;
    background-color: white;
    margin: auto;
    padding: 20px 0 20px 30px;
}

.parte-centrale-alta{
    border-radius: 4px 4px 0 0;
}

#add-task{
    color: white;
    background-color: #47adf1;
    border-radius: 4px;
    padding: 7px;
    border: none;
    font-size: 11px;
}
#add-section{
    color: gray;
    background-color: #f6f8f9f1;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid gray;
    font-size: 11px;
}
.parte-centrale{
    margin-top: 1px;
    border-radius: 0 0 4px 4px;
}
ul{
    margin: 7px 0;
}
li{
    margin: 5px 0;
}