*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: lightgrey;
}
header{
    background-color: white;
}
 h1{
    display: inline-block;
}

.container-intestazione{
    height: 50px;
}

main{
    margin-top: 50px;
}
.parte-centrale-alta,.parte-centrale{
    width: 75%;
    background-color: white;
    margin: auto;
    padding: 15px 0 15px 30px;
}

.parte-centrale-alta{
    border-radius: 4px 4px 0 0;
}

#add-task{
    color: white;
    background-color: #47adf1;
    border-radius: 4px;
    padding: 7px;
    border: none;
    font-size: 11px;
}
#add-section{
    color: gray;
    background-color: #f6f8f9f1;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid gray;
    font-size: 11px;
}
.parte-centrale{
    margin-top: 1px;
    border-radius: 0 0 4px 4px;
}
ul{
    margin: 7px 0;
}
li{
    margin: 10px 0;
    list-style-type: none;
}
.button{
    color: white;
    font-size: 10px;
    border-radius: 10px;
    background-color: #47adf1;
    padding: 5px 8px;
    text-align: center;
}